.sort-bar-currencies{
    display: grid;
    grid-template-areas:
            "a a"
            "b c";
    height: 11em;
    padding: 0.5em;
    align-content: center;
}
.sort-bar-currencies_usd{
    grid-area: b;
    border-radius: 0.5em 0 0 0.5em;
}

.sort-bar-currencies_uah{
    grid-area: c;
    border-radius: 0 0.5em 0.5em 0;
}

.sort-bar-currencies button{
    font-size: 1em;
    border: 0.1em solid black;

}