body {
    margin: 0;
    padding: 0;
}

main{
    margin: 1em auto;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100em;
    grid-template-areas:
            "a b b"
            "a b b"
            "c c c";
}

.text-bold{
    font-weight: bold;
}